aiohttp==3.8.6
aiosignal==1.3.1
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
bleach==6.1.0
blosc2==2.2.9
bokeh==3.2.2
catboost==1.2.2
certifi==2023.7.22
charset-normalizer==3.3.0
cmasher==1.6.3
colorcet==3.0.1
colorspacious==1.1.2
comm==0.1.4
contourpy==1.1.1
cycler==0.12.1
decorator==5.1.1
docopt==0.6.2
e13tools==0.9.6
executing==2.0.0
floweaver==2.0.1
fonttools==4.43.1
frozenlist==1.4.0
graphviz==0.20.1
holoviews==1.17.1
idna==3.4
ipysankeywidget==0.5.0
ipython==8.16.1
ipywidgets==8.1.1
jedi==0.19.1
Jinja2==3.1.2
jupyterlab-widgets==3.0.9
kaleido==0.2.1
kiwisolver==1.4.5
linkify-it-py==2.0.2
Markdown==3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mpi4py==3.1.5
msgpack==1.0.7
multidict==6.0.4
ndindex==1.7
networkx==3.1
numexpr==2.8.7
numpy==1.26.0
openai==0.28.1
packaging==23.2
palettable==3.3.3
pandas==2.1.1
panel==1.2.3
param==1.13.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pipreqs==0.4.13
plotly==5.17.0
prompt-toolkit==3.0.39
ptyprocess==0.7.0
PuLP==2.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyct==0.5.0
Pygments==2.16.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyviz_comms==3.0.0
PyYAML==6.0.1
requests==2.31.0
scipy==1.11.3
six==1.16.0
stack-data==0.6.3
tables==3.9.1
tenacity==8.2.3
tornado==6.3.3
tqdm==4.66.1
traitlets==5.11.2
typing_extensions==4.8.0
tzdata==2023.3
uc-micro-py==1.0.2
urllib3==2.0.6
wcwidth==0.2.8
webencodings==0.5.1
widgetsnbextension==4.0.9
xyzservices==2023.10.0
yarg==0.1.9
yarl==1.9.2
